.upperHeader {
    width: 80%;
    display: flex;
    margin: 2% 0 0 2%;
    justify-content: space-between;
}

.backBtn {
    border-width: 0;
    background: transparent;
    margin-bottom: 2%;
    display: flex;
    font-size: medium;
}

.backBtn:hover {
    cursor: pointer;
    color: rgb(21, 153, 21);
    font-weight: bold;
}

.status {
    height: 20px;
    width: 100px;
    margin-right: 5px;
    border: 1px solid rgba(0, 0, 0, 0.059);
    border-radius: 45%;
    background-color: antiquewhite;
    text-align: center;
    align-content: center;
    font-weight: bold;
}

.statusSubmitted {
    color: rgb(83, 83, 231);
    background-color: rgba(65, 105, 225, 0.1);
}

.statusNotSub {
    color: rgb(133, 53, 53);
}

.statusGraded {
    color: rgb(21, 153, 21);
    background-color: rgba(127, 255, 212, 0.295);
}