.container {
    width: 90%;
    height: 600px;
    border: 1px solid grey;
    background-color: rgba(236, 255, 245, 255);
    display: flex;
    flex-direction: column;
    justify-self: center;
    border-radius: 10px;
}