.assignmentHeader {
    padding: 2%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.title {
    font-style: normal;
    font-weight: 600;
    text-transform: capitalize;
}

.details {
    color: grey;
    margin-top: 1%;
    margin-left: 4%;
    font-weight: 400;
    font-size: 15px;
}

.description {
    color: lightslategray;
    margin-top: 1%;
    margin-left: 4%;
}

@media screen and (max-width: 768px) {
    .assignmentHeader {
        align-items: center;
        text-align: center;
    }

    .title,
    .details {
        font-size: medium;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .description {
        font-size: small;
        margin-bottom: 5px;
    }
}