.assignmentHeader {
    margin: 1%;
    padding: 2%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.title {
    font-style: normal;
    font-weight: 600;
    text-transform: capitalize;
}

.details {
    color: grey;
}

.description {
    color: lightslategray;
    margin-top: 2%;
}